.casos
    text-align: center
    .titulo-casos
        font-family: 'Alegreya', serif
        font-weight: 700
        font-size: 48px
        line-height: 52px
        font-weight: 600
        margin-bottom: 50px

    .reporte
        margin-bottom: 50px

    .pass
        margin-bottom: 50px

    .contenedor-btns
        margin-bottom: 50px
        text-align: center
        .consultar
            border-radius: 5px
            border: 2px solid#001D46
            color: #001D46
            padding: 12px 0
            font-weight: 700
            width: 150px
            display: inline-block
            text-align: center
            margin: 0 10px
            &:hover
                text-decoration: none
                background: #012557
                color: #ffffff
                transition-duration: 0.1s
    .contenedor-datos
        .huellas
            background: url('../img/huellas1.png'), #EFF5FE
            margin-right: 25px
        .huellas2
            background: url('../img/huellas2.png'), #EFF5FE
            margin-left: 25px

        .huellas,
        .huellas2,
        .huellas3
            width: 60px
            background-size: cover
            background-position: center 0
            background-repeat: no-repeat
            text-align: center
        .vacio,
        .vacio2
            position: relative
            width: 60px
            height: 500px
        .vacio
            margin-left: 25px
        .vacio2
            margin-right: 25px
            
    .progress-bar1
        display: flex
        justify-content: center
        align-items: center
        margin: 10px 0
        .paso            
            margin-bottom: 50px
            text-align: center
            width: 100%
            p
                font-size: 17px
                font-weight: 500
                color: #000
                margin-bottom: 8px
            .num
                position: relative
                width: 30px
                height: 30px
                border: 2px solid #000
                border-radius: 50%
                display: inline-block
                font-weight: 500
                font-size: 17px
                line-height: 25px                
                span
                    font-weight: 500
                    font-size: 17px
                    line-height: 25px                
                    position: absolute
                    transform: translateX(-50%)
                    margin-bottom: 50px
            .num:before 
                position: absolute
                content: ''
                width: 100px
                height: 3px
                bottom: 11px
                right: -150px
                background-color: #001D46
            .num:after 
                position: absolute
                content: ''
                width: 100px
                height: 3px
                bottom: 11px
                right: -150px
                background-color: #001D46
        .paso:last-child
            .num:before
                display: none
        .paso:last-child
            .num:after
                display: none