<body>
    <!-- Contenedor principal header -->
    <header id="header">
        <!-- Sección inicial de la pagina web -->
        <div class="container">
            <!-- Contenedor del logo y menu navegable -->
            <div class="row contenedor_logo_menu">
                <!-- contenedor del Logo de le la gobernacion del Quindío-->
                <div class="logo col-12 col-lg-6">
                    <img src="img/logo_gobernacion.png" alt=""> 
                </div>

                <!-- Menu navegable -->
                <nav class="menu col-12 col-lg-6">
                    <a href="../user/index.php" id="btn-inicio">Inicio</a>
                    <a href="agent_cases.php" id="btn-denuncia">Casos</a>
                    <a href="../user/index.php" id="btn-cerrar">Cerrar sesión</a>              
                </nav>
            </div>
        </div>
    </header>
</body>
