<body>
    <!-- Contenedor principal header -->
    <header id="header">
        <!-- Sección inicial de la pagina web -->
        <div class="container">
            <!-- Contenedor del logo y menu navegable -->
            <div class="row contenedor_logo_menu">
                <!-- contenedor del Logo de le la gobernacion del Quindío-->
                <div class="logo col-12 col-lg-6">
                    <img src="img/logo_gobernacion.avif" alt="">
                </div>

                <!-- Menu navegable -->
                <nav class="menu col-12 col-lg-6">
                    <a href="../../index.php" id="btn-inicio">Inicio</a>
                    <a href="denuncia.php" id="btn-denuncia">Denuncia</a>
                    <a href="casos.php" id="btn-casos">Casos</a>
                    <a href="iniciar_sesion.php" id="btn-ingresar" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Ingresar</a>
                </nav>
            </div>
        </div>
    </header>
</body>
