.historial
    text-align: center
    padding: 50px 0
    .titulo-principal
        font-family: 'Alegreya', serif
        font-weight: 700
        font-size: 32px
        color: #001D46
        margin-bottom: 50px
    .table
        text-align: center
        .titulos
            text-align: center
            font-family: 'Alegreya', serif
            font-weight: 500
            font-size: 20px
            color: #001D46
    .form_search
        margin-bottom: 40px
        border-radius: 30px
        background: initial
        .input_form
            text-align: center
            background: #fff
    .contenedor-btns
        text-align: center
        .detalle
            border-radius: 5px
            border: 2px solid#001D46
            color: #001D46
            padding: 5px 0
            font-weight: 500
            width: 150px
            display: inline-block
            text-align: center
            margin: 0 5px
            &:hover
                text-decoration: none
                background: #012557
                color: #ffffff
                transition-duration: 0.1s
    

