    <!-- Seccion  footer de la pagina web -->
    <footer>
        <div class="footer">
            <div class="container">

                <!-- Contenedor de los logos de los participantes del convenio -->
                <div class="row">
                    <div class="convenio col-12 col-lg-6">
                        <!-- Contenedor y titulo -->
                        <div class="titulo">
                            <h4>En convenio con</h4>
                        </div>
                        <!-- Contenedor contenedor logo gobernacion -->
                        <img class="logo" src="img/logo_gobernacion.jpg" alt="">

                        <!-- Contenedor contenedor logo uniquindio -->
                        <img class="logo" src="img/logo_acreditacion.png" alt="">

                        <!-- Contenedor contenedor logo fundamor -->
                        <img class="logo" src="img/fundamor.png" alt="">
                    </div>

                    <div class="menu col-12 col-lg-1">
                        <!-- Contenedor y titulo -->
                        <div class="titulo">
                            <h4>Menú</h4>
                        </div>
                        <!-- Menu navegable -->
                        <nav class="menu">
                            <a href="#" id="btn-inicio">Histórico</a>
                            <a href="#" id="btn-denuncia">Usuarios</a>
                            <a href="#" id="btn-casos">Cerrar sesión</a>
                        </nav>
                    </div>
                    <!-- Lineas de atencion nacional -->
                    <div class="lineas-atencion col-12 col-lg-5">
                        <div class="titulo">
                            <h4>Líneas de atención nacional</h4>
                        </div>
                        <p class="numero">(+57) *** **** ***</p>
                        <p class="numero">(+57) *** **** ***</p>
                    </div>

                </div>
            </div>

        </div>
    </footer>