<body>
    <!-- Contenedor principal header -->
    <header id="header">
        <!-- Sección inicial de la pagina web -->
        <div class="container">
            <!-- Contenedor del logo y menu navegable -->
            <div class="row contenedor_logo_menu">
                <!-- contenedor del Logo de le la gobernacion del Quindío-->
                <div class="logo col-12 col-lg-6">
                    <a href="#"><img src="img/logo_gobernacion.jpg" alt=""> </a>
                </div>
        
                <!-- Menu navegable -->
                <nav class="menu col-12 col-lg-6">
                    <a href="admin_history.php" id="btn-historico">Histórico</a>
                    <a href="admin_users.php" id="btn-usuario">Usuarios</a>
                    <a href="../user/index.php" id="btn-cerrar">Cerrar sesión</a>
                </nav>
            </div>
    </header>
</body>
