* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

header {
  z-index: 1;
}

header .contenedor_logo_menu {
  padding: 25px 0;
  border-bottom: 1px solid rgba(0, 29, 70, 0.4);
  margin-bottom: 50px;
}

header .contenedor_logo_menu .logo a {
  display: block;
}

header .contenedor_logo_menu .logo a img {
  vertical-align: top;
}

header .contenedor_logo_menu .menu {
  text-align: right;
  line-height: 50px;
}

header .contenedor_logo_menu .menu a {
  color: #000000;
  margin-left: 60px;
  font-size: 18px;
}

.main .historial {
  text-align: center;
  padding: 50px 0;
}

.main .historial .titulo-principal {
  font-family: 'Alegreya', serif;
  font-weight: 700;
  font-size: 32px;
  color: #001D46;
  margin-bottom: 50px;
}

.main .historial .table {
  text-align: center;
}

.main .historial .table .titulos {
  text-align: center;
  font-family: 'Alegreya', serif;
  font-weight: 500;
  font-size: 20px;
  color: #001D46;
}

.main .historial .form_search {
  margin-bottom: 40px;
  border-radius: 30px;
  background: initial;
}

.main .historial .form_search .input_form {
  text-align: center;
  background: #fff;
}

.main .historial .contenedor-btns {
  text-align: center;
}

.main .historial .contenedor-btns .detalle {
  border-radius: 5px;
  border: 2px solid #001D46;
  color: #001D46;
  padding: 5px 0;
  font-weight: 500;
  width: 150px;
  display: inline-block;
  text-align: center;
  margin: 0 5px;
}

.main .historial .contenedor-btns .detalle:hover {
  text-decoration: none;
  background: #012557;
  color: #ffffff;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.main .detalle {
  text-align: center;
  padding: 50px 0;
}

.main .detalle .titulo-principal {
  font-family: 'Alegreya', serif;
  font-weight: 700;
  font-size: 32px;
  color: #001D46;
  margin-bottom: 50px;
}

.main .detalle .table {
  text-align: center;
}

.main .detalle .table .titulos {
  text-align: center;
  font-family: 'Alegreya', serif;
  font-weight: 500;
  font-size: 20px;
  color: #001D46;
}

.main .detalle .form_search {
  margin-bottom: 40px;
  border-radius: 30px;
  background: initial;
}

.main .detalle .form_search .input_form {
  text-align: center;
  background: #fff;
}

.main .detalle .contenedor-btns {
  text-align: center;
}

.main .detalle .contenedor-btns .detalle {
  border-radius: 5px;
  border: 2px solid #001D46;
  color: #001D46;
  padding: 5px 0;
  font-weight: 500;
  width: 150px;
  display: inline-block;
  text-align: center;
  margin: 0 5px;
}

.main .detalle .contenedor-btns .detalle:hover {
  text-decoration: none;
  background: #012557;
  color: #ffffff;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.main .detalle .texto .titulo {
  text-align: center;
  font-family: 'Alegreya', serif;
  font-weight: 700;
  font-size: 32px;
  color: #001D46;
  margin-bottom: 60px;
}

.main .detalle .contenedor-formulario .huellas {
  background: url("../img/huellas1.png"), #EFF5FE;
  margin-right: 25px;
}

.main .detalle .contenedor-formulario .huellas2 {
  background: url("../img/huellas2.png"), #EFF5FE;
  margin-left: 25px;
}

.main .detalle .contenedor-formulario .huellas,
.main .detalle .contenedor-formulario .huellas2,
.main .detalle .contenedor-formulario .huellas3 {
  width: 60px;
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
  text-align: center;
}

.main .detalle .contenedor-formulario .vacio,
.main .detalle .contenedor-formulario .vacio2 {
  position: relative;
  width: 60px;
  height: 500px;
}

.main .detalle .contenedor-formulario .vacio {
  margin-left: 25px;
}

.main .detalle .contenedor-formulario .vacio2 {
  margin-right: 25px;
}

.main .detalle .contenedor-formulario .contenido-formulario .subtitulo {
  font-family: 'Alegreya', serif;
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 24px;
  color: #001D46;
}

.main .detalle .contenedor-formulario .contenido-formulario section {
  margin-bottom: 28px;
}

.main .detalle .contenedor-formulario .contenido-formulario .tipo-denuncia input,
.main .detalle .contenedor-formulario .contenido-formulario .informacion-adicional input {
  margin-bottom: 16px;
}

.main .detalle .contenedor-formulario .contenido-formulario .condiciones-animal {
  margin-left: 25px;
}

.main .detalle .contenedor-formulario .contenido-formulario .condiciones-animal .form-row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 28px;
}

.main .detalle .contenedor-formulario .contenido-formulario .condiciones-animal .form-row .custom-radio {
  margin-left: 100px;
}

.main .detalle .contenedor-formulario .contenido-formulario .informacion-adicional textarea,
.main .detalle .contenedor-formulario .contenido-formulario .informacion-adicional .form-check,
.main .detalle .contenedor-formulario .contenido-formulario .informacion-adicional .custom-file {
  margin-bottom: 16px;
}

.main .detalle .boton {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.main .detalle .boton .btn-primary {
  border: 0px;
  background: #001D46;
  padding: 12px 0;
  font-weight: 500;
  width: 250px;
}

.main .detalle .boton .btn-primary:hover {
  background: #012557;
  color: #ffffff;
}

.main .detalle .form-control {
  margin-bottom: 20px;
}

footer {
  padding: 25px 0;
  background: #001D46;
  text-align: center;
}

footer .titulo {
  text-align: center;
  font-family: 'Alegreya', serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 24px;
}

footer .logo {
  margin-right: 24px;
}

footer .menu {
  text-align: center;
}

footer .menu a {
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 10px;
  color: #ffffff;
}

footer .numero {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}

@media screen and (max-width: 1100px) {
  header .contenedor_logo_menu .menu a {
    margin: 0px 20px;
  }
}

@media screen and (max-width: 992px) {
  header .contenedor_logo_menu .logo {
    margin-bottom: 20px;
    text-align: center;
  }
  header .contenedor_logo_menu .menu {
    text-align: center;
  }
  header .contenedor_logo_menu .menu a {
    margin: 0px 20px;
  }
  .main .descripcion_pagina .texto {
    font-size: 16px;
  }
  .main .descripcion_pagina .texto .titulo {
    font-size: 2.5em;
  }
  .main .descripcion_pagina .descripcion {
    margin-bottom: 50px;
  }
  .main .descripcion_pagina .descripcion .sub_parrafo {
    font-size: 1.5em;
  }
  .main .descripcion_pagina .foto,
  .main .descripcion_pagina .foto_denuncia {
    display: none;
  }
  .main .conoce-mas {
    padding: 50px 0;
    background: #EFF5FE;
  }
  .main .conoce-mas .informacion .recuadro {
    margin-bottom: 40px;
  }
  .main .conoce-mas .informacion .recuadro .texto {
    margin-bottom: 32px;
    text-align: center;
  }
  .main .estadisticas {
    padding: 50px;
  }
  .main .estadisticas .estadistica {
    margin-bottom: 60px;
  }
  .main .cais-quindio {
    padding: 50px 0;
    background: #EFF5FE;
  }
  .main .cais-quindio .ubicacion {
    margin-bottom: 40px;
  }
  footer .convenio {
    margin-bottom: 20px;
  }
  footer .menu {
    margin-bottom: 20px;
  }
  footer .menu a {
    margin-left: 20px;
  }
}

@media screen and (max-width: 60px) {
  table {
    width: 100%;
  }
  table thead {
    display: none;
  }
  table thead tbody td {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .wrap {
    width: 95%;
    display: flexbox;
    /*margin: auto;*/
  }
}

@media screen and (max-width: 600px) {
  .detalle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0;
  }
  .detalle .paso {
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
  }
  .detalle .paso p {
    font-size: 17px;
    font-weight: 500;
    color: #000;
    margin-bottom: 8px;
  }
  .detalle .paso .num {
    position: relative;
    width: 30px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 50%;
    display: inline-block;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
  }
  .detalle .paso .num span {
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    position: absolute;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .detalle .paso .num:before {
    position: absolute;
    content: '';
    width: 100px;
    height: 3px;
    bottom: 11px;
    right: -150px;
    background-color: #001D46;
  }
  .detalle .paso .num:after {
    position: absolute;
    content: '';
    width: 100px;
    height: 3px;
    bottom: 11px;
    right: -150px;
    background-color: #001D46;
  }
  .detalle .paso:last-child .num:before {
    display: none;
  }
  .detalle .paso:last-child .num:after {
    display: none;
  }
}
/*# sourceMappingURL=estilos.css.map */